body{
background-color: rgb(0, 0, 0);
color:rgb(242, 255, 0);
font-family: Arial, Helvetica, sans-serif;
margin:0px;
}
h1{
color:red;
font-size: 40px;
}
p{
    font-size: 25px;
}
header{
border-bottom:rgb(242, 255, 0);
margin:2px;
padding:10px;
color:(red);
}
.chamada{
background:rgb(242, 255, 0);
padding:80px;
display: flex;
justify-content: center;
}
.chamada-texto{
margin-right:8%;
}
ing{
    height:200px;
}